<!-- 标题 -->
<ion-view view-title="客户详情页" class="" hide-back-button="true" >
 <div class="">
   <div class="clientele_content">
     <!-- 姓名的div -->
     <div class="clientele_name">
          <div class="clientele_name_na">
               张学友
          </div>
          <div class="clientele_name_old">
               <div class="clientele_name_old_2">
                    性别：男
               </div>
               <div class="clientele_name_old_1">
                    年龄：18岁
               </div>
          </div>
     </div>
     <!-- 基本资料标题 -->
     <div class="clientele_datatitle">
          客户基本信息
     </div>
     <!-- 基本资料 -->
     <div class="clientele_data">
          <div class="clientele_data_da">
               <div class="clientele_img">
                    <img src="../../99998/www/img/public/dui.png">
               </div>
               <div class="clientele_clientele_data_da_div">
                    在职
               </div>
          </div>
          <div class="clientele_data_da">
               <div class="clientele_img">
                    <img src="../../99998/www/img/public/dui.png">
               </div>
               <div class="clientele_clientele_data_da_div">
                    可以提供收入流水
               </div>
          </div>
          <div class="clientele_data_da">
               <div class="clientele_img">
                    <img src="../../99998/www/img/public/dui.png">
               </div>
               <div class="clientele_clientele_data_da_div">
                    可出具本地社保
               </div>
          </div>
          <div class="clientele_data_da">
               <div class="clientele_img">
                    <img src="../../99998/www/img/public/dui.png">
               </div>
               <div class="clientele_clientele_data_da_div">
                    名下有车
               </div>
          </div>
          <div class="clientele_data_da">
               <div class="clientele_img">
                    <img src="../../99998/www/img/public/dui.png">
               </div>
               <div class="clientele_clientele_data_da_div">
                    名下有房
               </div>
          </div>
     </div>
     <!-- 贷款需求 -->
     <div class="clientele_demand">
          <div class="clientele_demand_div">
               贷款需求：30000元
          </div>
          <div class="clientele_demand_div">
               分期：三个月
          </div>
               </div>
     <!-- 拨打电话 -->
     <div class="clientele_phone">
          请拨打电话
     </div>


   </div>
 </div>
</ion-view>