<ion-view view-title="账户信息" class="products" hide-back-button="true" >
<ion-nav-buttons side="left">
   <img ng-src="{{'nav-btn-backblue'| img_url}}" class="countMsg_path_img">
    </ion-nav-buttons>
    <ion-content class="bg_353535" scroll="false">
<!-- 全局 -->
<div class="countMsg_div">
<!-- 信息开始 -->
<div class="countMsg_msg">
<!-- 头像 -->
<div class="countMsg_tx">
  <div class="countMsg_tx_text">头像</div>
    <div class="countMsg_tx_img">
      <img ng-src="{{'3'| img_url}}" class="countMsg_tx_imger">
    </div>
</div>
<!-- 昵称 -->
<div class="countMsg_nickname">
  <div class="countMsg_nickname_text">昵称</div>
    <div class="countMsg_nickname_msg">beauty</div>
      <div class="countMsg_nickname_img">
        <img ng-src="{{'btn-list-to'| img_url}}" class="countMsg_more_img">
      </div>
</div>
<!-- 真实姓名 -->
<div class="countMsg_nickname">
  <div class="countMsg_nickname_text">真实姓名</div>
    <div class="countMsg_nickname_msg">kary</div>
      <div class="countMsg_nickname_img">
        <img ng-src="{{'btn-list-to'| img_url}}" class="countMsg_more_img">
      </div>
</div>
<!-- 注册手机号 -->
<div class="countMsg_bottom">
  <div class="countMsg_nickname_text">注册手机号</div>
    <div class="countMsg_nickname_msg">15933922205</div>
      <div class="countMsg_nickname_img">
        <img ng-src="{{'btn-list-to'| img_url}}" class="countMsg_more_img">
      </div>
</div>
</div>
<!-- 信息结束 -->
</div>
    </ion-content>
</ion-view>