<!-- 标题 -->
<ion-view view-title=" " class="products" hide-back-button="true" >
    <!-- 自定义返回键 -->
    <!--<smpos-back back-type=1></smpos-back>-->
    <ion-nav-buttons side="left">
        <!-- <button class="button">
            <span class="back_img"></span>
        </button> -->
        <img ng-src="{{'oposition'| img_url}}" class="firstpage_path_img">
        <span class="firstpage_position" ng-bind="position"></span>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    
        <!-- <button class="button groupBuyCheck_button title_right_button" ng-click="groupBuyCheck_show()">
            <img ng-src="{{'nav-btn-code'| img_url}}" class="groupBuyCheck_path_img">
        </button> -->
    </ion-nav-buttons>
    <ion-content class="bg_353535" scroll="false">
        <div class="firstpage_content">
          <div class="firstpage_top">
              <div class="firstpage_left">
                  <img ng-src="{{'radius'| img_url}}" class="firstpage_radius_img">
                  <label class="firstpage_radius_content">车贷抵押</label>
              </div>
              <div class="firstpage_right">
                  <img ng-src="{{'radius'| img_url}}" class="firstpage_radius_img">
                  <label class="firstpage_radius_content">房贷抵押</label>
              </div>
          </div>
          <div class="firstpage_top">
              <div class="firstpage_left">
                  <img ng-src="{{'radius'| img_url}}" class="firstpage_radius_img">
                  <label class="firstpage_radius_content">贷款推荐</label>
              </div>
              <div class="firstpage_right">
                  <img ng-src="{{'radius'| img_url}}" class="firstpage_radius_img">
                  <label class="firstpage_radius_content">信用卡申请</label>
              </div>
          </div>
          <hr class="firstpage_hr">
          <div class="firstpage_center">翻页广告位</div>
          <div class="firstpage_center_title">
            <div class="firstpage_center_jingpin">精品推荐</div>
            <div class="firstpage_center_more">更多></div>
          </div>
          <div>
              <div class="firstpage_list">
                  <div class="firstpage_squre"></div>
                  <div class="firstpage_list_right">
                      <div class="firstpage_list_right_top">兴业银行-小贷款</div>
                      <div class="firstpage_list_right_bottom">
                          <div class="firstpage_list_right_bottom_left">20176人申请</div>
                          <div class="firstpage_list_right_bottom_right">1.1%月费率</div>
                      </div>
                  </div>
              </div>
               <div class="firstpage_list">
                  <div class="firstpage_squre"></div>
                  <div class="firstpage_list_right">
                      <div class="firstpage_list_right_top">兴业银行-小贷款</div>
                      <div class="firstpage_list_right_bottom">
                          <div class="firstpage_list_right_bottom_left">20176人申请</div>
                          <div class="firstpage_list_right_bottom_right">1.1%月费率</div>
                      </div>
                  </div>
              </div>
               <div class="firstpage_list">
                  <div class="firstpage_squre"></div>
                  <div class="firstpage_list_right">
                      <div class="firstpage_list_right_top">兴业银行-小贷款</div>
                      <div class="firstpage_list_right_bottom">
                          <div class="firstpage_list_right_bottom_left">20176人申请</div>
                          <div class="firstpage_list_right_bottom_right">1.1%月费率</div>
                      </div>
                  </div>
              </div>
               <div class="firstpage_list">
                  <div class="firstpage_squre"></div>
                  <div class="firstpage_list_right">
                      <div class="firstpage_list_right_top">兴业银行-小贷款</div>
                      <div class="firstpage_list_right_bottom">
                          <div class="firstpage_list_right_bottom_left">20176人申请</div>
                          <div class="firstpage_list_right_bottom_right">1.1%月费率</div>
                      </div>
                  </div>
              </div>
              <div class="firstpage_list">
                  <div class="firstpage_squre"></div>
                  <div class="firstpage_list_right">
                      <div class="firstpage_list_right_top">兴业银行-小贷款</div>
                      <div class="firstpage_list_right_bottom">
                          <div class="firstpage_list_right_bottom_left">20176人申请</div>
                          <div class="firstpage_list_right_bottom_right">1.1%月费率</div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </ion-content>
</ion-view>