<!-- 标题 -->
<ion-view view-title="首页" class="products" hide-back-button="true" >
    <!-- 自定义返回键 -->
    <!--<smpos-back back-type=1></smpos-back>-->
    <ion-nav-buttons side="left">
        <!-- <button class="button">
            <span class="back_img"></span>
        </button> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!-- <button class="button groupBuyCheck_button title_right_button" ng-click="groupBuyCheck_show()">
            <img ng-src="{{'nav-btn-code'| img_url}}" class="groupBuyCheck_path_img">
        </button> -->
    </ion-nav-buttons>
    <ion-content class="bg_353535" scroll="false">
      <h3 ng-bind="hellow"></h3>
    </ion-content>
</ion-view>