<!-- 标题 -->
<ion-view view-title="密码错误" class="products" hide-back-button="true" >
    <ion-content class="bg_353535" scroll="false">
      <div class="content_scrool">
    <div class="content">
        <div id="content">
            <img src="">
            <p class="login_error">您的账户密码输入有误请重新登录 或找回密码</p>
        </div>
    </div>
    </div>
    <div class="submit_button" id="back_login">
        <div class="label_submit">立即登录</div>
    </div>
    <div class="submit_button" id="findpwd" style="margin-top:10px">
        <div class="label_submit">找回密码</div>
    </div>
    </ion-content>
</ion-view>
<script src="../js/controllers/login_err.js"></script>