<!-- 标题 -->
<ion-view view-title="个人信息" class="" hide-back-button="true" >
 <div class="">
   <div class="personaldata_content">
     <div class="personaldata_div">
     	 <input type="tel" placeholder="真实姓名" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="身份账号码" class="personaldata_inp">
     </div>
		
     <div class="personaldata_div">
     	<input type="tel" placeholder="是否在职?" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="能否提供收入证明?" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="能否提供银行流水?" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="是否有本地社保?" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="名下是否有车?" class="personaldata_inp">
     </div>

     <div class="personaldata_div">
     	<input type="tel" placeholder="名下是否有房?" class="personaldata_inp">
     </div>

     <div class="personaldata_divp">
     	立即提交
     </div>
   </div>
 </div>
</ion-view>