<!-- 标题 -->
<ion-view view-title="密码错误" class="" hide-back-button="true" >
 <div class="">
   <div class="pwder_content">
     <div class="pwder_tt">
       <img src="../../99998/www/img/public/erer.png" class="pwder_img">
     </div>
      <div class="pwder_text">
         您的账号密码输入有误 <br>
         请重新登录或找回密码 
        
        <!-- <input type="text" value="您的账号密码输入有误请重新登录或找回密码"> -->
        <!-- <input type="text" value="请重新登录或找回密码"> -->
        
      </div>
      <div class="pwder_div">
        立即登录
      </div>
      <div class="pwder_div">
        找回密码
      </div>
   </div>
 </div>
</ion-view>