<!-- 标题 -->
<ion-view view-title="找回密码" class="" hide-back-button="true" >
 <div class="seek_head">
          找回密码
          <!-- <div class="loginp_return">
              <img src="../../99998/www/img/public/login-closed.png" alt=""       
              style="height:20px;width:20px;">
          </div> -->
   </div>
 <div class="">
   <div class="seek_content">
     <div class="seek_div">
     	<input type="tel"  maxlength="11" placeholder="手机号码" id="seek_input"
        onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" >
     </div>
     <div class="seek_div1">
     	<div class="seek_yan">
     		<a href="" style="color:#ffffff" style="heigth:30px;">
                发送验证码
            </a>
     	</div>
        <div class="seek_aa">
     	  <input type="tel"  maxlength="11" placeholder="验证码" id="seek_inp">
        </div>
     </div>
     <div class="seek_go">
     	下一步
     </div>
   </div>
 </div>
</ion-view>