<!-- 标题 -->
<ion-view view-title="设置" class="products" hide-back-button="true" >
<!-- 左边 -->
<ion-nav-buttons side="left">
   <img ng-src="{{'nav-btn-backblue'| img_url}}" class="set_path_img">
</ion-nav-buttons>
<ion-content class="bg_353535" scroll="false">
  <!-- 全局 -->
  <div class="set_div">
  <!-- 消息推送 -->
  <div class="set_push">
    <div class="set_push_text">消息推送</div>
        <div class="set_push_img">
          <img ng-src="{{'rb-h'| img_url}}" id="set_switch" ng-click="set_switch_click()" class="set_push_switch">
        </div>
  </div>
  <!-- 开始 -->
  <div class="set_line">
  <!-- 修改密码 -->
  <div class="set_change_psw" id="set_change_password">
    <div class="set_push_text">修改密码</div>
      <div class="set_push_msg"></div>
        <div class="set_push_img">
          <img ng-src="{{'btn-list-to'| img_url}}" class="set_push_more_img">
        </div>
  </div>
  <!-- 边线 -->
  <div class="set_boder"></div>
  <!-- 变更手机号 -->
  <div class="set_change_phone">
    <div class="set_push_text">变更手机号</div>
      <div class="set_push_msg">136****2211</div>
        <div class="set_push_img">
          <img ng-src="{{'btn-list-to'| img_url}}" class="set_push_more_img">
        </div>
  </div>
  </div>
  <!-- 结束 -->
  <!-- 开始 -->
  <div class="set_line">
  <!-- 关于 -->
  <div class="set_about">
    <div class="set_push_text">关于</div>
      <div class="set_push_img">
          <img ng-src="{{'btn-list-to'| img_url}}" class="set_push_more_img">
        </div>
  </div>
  <!-- 边线 -->
  <div class="set_boder"></div>
  <!-- 去评价 -->
  <div class="set_change_bottom">
    <div class="set_push_text">去评价</div>
      <div class="set_push_img">
          <img ng-src="{{'btn-list-to'| img_url}}" class="set_push_more_img">
        </div>
  </div>
  <!-- 边线 -->
  <div class="set_boder"></div>
  <!-- 版本号 -->
  <div class="set_change_version">
   <div class="set_version_text">版本号</div>
        <div class="set_version_number">2.5.2</div> 
  </div>
  <!-- 结束 -->
  </div>
  </div>
</ion-content>
</ion-view>